<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2021 Proton Technologies AG
  ~ This file is part of Proton Technologies AG and ProtonCore.
  ~
  ~ ProtonCore is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ ProtonCore is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with ProtonCore.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application>

        <activity android:name="proton.android.pass.autofill.ui.autofill.AutofillActivity"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="proton.android.pass.autofill.ui.autosave.AutoSaveActivity"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"/>

        <activity android:name="proton.android.pass.autofill.ui.autofill.inlinesuggestions.InlineSuggestionsNoUiActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"/>

        <service
            android:name="proton.android.pass.autofill.ProtonPassAutofillService"
            android:label="@string/autofill_service_name"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/autofill_service" />
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
    </application>

</manifest>

