[submodule "proton-libs"]
	path = proton-libs
	url = ../../../proton/mobile/android/proton-libs
[submodule "passwordManager/data/contents-proto-definition"]
	path = passwordManager/data/contents-proto-definition
	url = ../../../proton/clients/pass/contents-proto-definition.git
