<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2024 Proton AG
  ~ This file is part of Proton AG and Proton Pass.
  ~
  ~ Proton Pass is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Proton Pass is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Proton Pass.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".create.ui.CreatePasskeyActivity"
            android:theme="@style/PassThemeTransparentNoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance" />

        <activity android:name=".select.ui.SelectPasskeyActivity"
            android:theme="@style/PassThemeTransparentNoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance" />

        <activity android:name=".select.ui.UsePasskeyNoUiActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance" />

<!--        <service android:name=".service.PasskeyProviderService"-->
<!--            android:enabled="@bool/pass_passkeys_enabled"-->
<!--            android:exported="true"-->
<!--            android:label="Proton Pass"-->
<!--            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.service.credentials.CredentialProviderService"/>-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.credentials.provider"-->
<!--                android:resource="@xml/credentialmanager"/>-->
<!--        </service>-->
    </application>
</manifest>
