<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/ProtonTheme"
        tools:replace="android:theme">
        <activity
            android:name="proton.android.pass.autofill.sample.simplefragment.SimpleFragmentLoginActivity"
            android:exported="true"
            android:label="@string/title_activity_simple_fragment_login" />
        <activity
            android:name="proton.android.pass.autofill.sample.LoginResultActivity"
            android:exported="true" />
        <activity
            android:name="proton.android.pass.autofill.sample.simplecompose.SimpleComposeLoginActivity"
            android:exported="true" />
        <activity
            android:name="proton.android.pass.autofill.sample.simpleactivity.SimpleLoginActivity"
            android:exported="true" />
        <activity
            android:name="proton.android.pass.autofill.sample.webview.WebViewLoginActivity"
            android:exported="true" />
        <activity
            android:name="proton.android.pass.autofill.sample.SampleSelectionActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
